
<div class="row">
  <div class="col-3 my-auto">
    <div class="circle">
      <%= display_circle_image(circle) %>
    </div>
  </div>
  <div class="col-9">
    <div class="blue-border">
      <div class="row">
        <p class="m-0 text-blue user-name"><%= circle.circle_name %></p>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">タイトル</p>
        </div>
        <div class="col-9 text-blue">
          <%= simple_format(event.event_title) %>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">内容</p>
        </div>
        <div class="col-9 text-blue">
          <%= simple_format(event.event_memo) %>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">場所</p>
        </div>
        <div class="col-9 text-blue">
          <%= simple_format(event.event_place) %>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">開始時刻</p>
        </div>
        <div class="col-9 text-blue">
          <%= event.start %>
        </div>
      </div>        
      <div class="row my-3 user-introduction bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">終了時刻</p>
        </div>
        <div class="col-9 text-blue">
          <%= event.end %>
        </div>
      </div>
    </div>
  </div>
</div>