<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <h3 class="page-title my-auto">活動登録</h3>
    </div>
  </div>

  <%= form_with(model: [@circle, @event], local: true) do |f| %>
    <div class="row">
      <div class="col">
        <div class="blue-border">
          <div class="row my-3">
            <%= render "layouts/errors", obj: @circle %>
          </div>
          <div class="row my-3 user-introduction">
            <div class="col-3 text-center my-auto">
              <%= f.label :event_title, "タイトル", class: "font-weight-bold text-blue" %>
            </div>
            <div class="col-9 text-blue">
              <%= f.text_field :event_title, placeholder: "活動のタイトルを入力", class: "custom-form" %>
            </div>
          </div>
          <div class="row my-3 user-introduction">
            <div class="col-3 text-center my-auto">
              <%= f.label :event_memo, "内容", class: "font-weight-bold text-blue" %>
            </div>
            <div class="col-9 text-blue">
              <%= f.text_area :event_memo, placeholder: "活動内容を入力", rows: 5, class: "custom-form" %>
            </div>
          </div>
          <div class="row my-3 user-introduction">
            <div class="col-3 text-center my-auto">
              <%= f.label :event_place, "場所", class: "font-weight-bold text-blue" %>
            </div>
            <div class="col text-blue">
              <%= f.text_field :event_memo, placeholder: "活動場所を入力", class: "custom-form" %>
            </div>
          </div>
          <div class="row my-3 user-introduction">
            <div class="col-3 text-center my-auto">
              <%= f.label :start, "開始日時", class: "font-weight-bold text-blue" %>
            </div>
            <div class="col text-blue">
              <%= f.datetime_local_field :start, class: "custom-form" %>
            </div>
          </div>
          <div class="row my-3 user-introduction">
            <div class="col-3 text-center my-auto">
              <%= f.label :start, "終了日時", class: "font-weight-bold text-blue" %>
            </div>
            <div class="col text-blue">
              <%= f.datetime_local_field :end, class: "custom-form" %>
            </div>
          </div>
          <div class="row my-3 user-introduction">
            <div class="col-3 text-center mx-auto">
              <%= f.submit "登録", class: "btn-custom-blue" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>