<div class="container">
  <div class="row my-5">
    <div class="col-md-auto col-12 text-center mb-3">
      <h3 class="page-title my-auto">活動詳細</h3>
    </div>
    <div class="col-auto my-auto">
      <%= link_to "サークル詳細へ", circle_path(@circle), class: "btn-custom-blue" %>
    </div>
    <% if current_user.id == @circle.owner_id %>
      <div class="col-auto my-auto">
        <%= link_to "削除", circle_event_path(circle_id: @circle, id: @event), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
      </div>
    <% end %>
  </div>

  <%= render "event", circle: @circle, event: @event %>

  <div class="row my-5">
    <div class="col-auto">
      <% if @event.attended_by?(current_user) %>
        <%= link_to circle_event_attends_path(circle_id: @circle, event_id: @event), method: :delete, class: "text-danger" do %>
          <i class="fa-solid fa-calendar"></i>参加中
        <% end %>
      <% else %>
        <%= link_to circle_event_attends_path(circle_id: @circle, event_id: @event), method: :post, class: "text-muted" do %>
          <i class="fa-regular fa-calendar"></i>参加する
        <% end %>
      <% end %>
    </div>
    <div class="col-auto">
      <%= @attends.count %>人が参加中
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col">
      <p class="join-circle text-center">参加者一覧</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @attends.each do |attend| %>
        <%= link_to user_path(attend.user) do %>
          <%= render "public/users/user_display", obj: attend.user %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>