<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <h3 class="page-title my-auto">活動詳細</h3>
    </div>
    <% if current_user.id == @circle.owner_id %>
      <div class="col-auto my-auto">
        <%= link_to "削除", circle_event_path(circle_id: @circle, id: @event), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-3 my-auto">
      <div class="circle">
        <%= display_circle_image(@circle) %>
      </div>
    </div>
    <div class="col-9">
      <div class="blue-border">
        <div class="row">
          <p class="m-0 text-blue user-name"><%= @circle.circle_name %></p>
        </div>
        <div class="row my-3 user-introduction bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 text-blue font-weight-bold">タイトル</p>
          </div>
          <div class="col-9 text-blue">
            <%= simple_format(@event.event_title) %>
          </div>
        </div>
        <div class="row my-3 user-introduction bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 text-blue font-weight-bold">内容</p>
          </div>
          <div class="col-9 text-blue">
            <%= simple_format(@event.event_memo) %>
          </div>
        </div>
        <div class="row my-3 user-introduction bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 text-blue font-weight-bold">場所</p>
          </div>
          <div class="col-9 text-blue">
            <%= simple_format(@event.event_place) %>
          </div>
        </div>
        <div class="row my-3 user-introduction bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 text-blue font-weight-bold">開始時刻</p>
          </div>
          <div class="col-9 text-blue">
            <%= @event.start %>
          </div>
        </div>        
        <div class="row my-3 user-introduction bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 text-blue font-weight-bold">終了時刻</p>
          </div>
          <div class="col-9 text-blue">
            <%= @event.end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-auto">
      <% if @event.attended_by?(current_user) %>
        <%= link_to circle_event_attends_path(circle_id: @circle, event_id: @event), method: :delete, class: "text-danger" do %>
          <i class="fa-solid fa-calendar"></i>参加中
        <% end %>
      <% else %>
        <%= link_to circle_event_attends_path(circle_id: @circle, event_id: @event), method: :post, class: "text-muted" do %>
          <i class="fa-regular fa-calendar"></i>参加する
        <% end %>
      <% end %>
    </div>
    <div class="col-auto">
      <%= @attend_users.count %>人が参加中
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col">
      <p class="join-circle text-center">参加者一覧</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @attend_users.each do |attend_user| %>
        <%= link_to user_path(attend_user.user) do %>
          <%= render "public/users/user_display", obj: attend_user.user %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>