<div class="row" id="content">
  <div class="col-3 my-auto">
    <div class="circle">
      <%= display_circle_image(circle) %>
    </div>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="fit-blue-border">
      <div class="row">
        <p class="m-0 text-blue user-name"><%= circle.circle_name %></p>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-md-3 col-sm-5  text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">紹介文</p>
        </div>
        <div class="col text-blue">
          <%= simple_format(circle.circle_introduction) %>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-md-3 col-sm-5  text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">活動場所</p>
        </div>
        <div class="col profile-center">
          <p class="m-0 text-blue">
            <%= circle.prefecture.prefecture_name %>/
          <%= @circle.city.city_name %></p>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-md-3 col-sm-5  text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">参加者</p>
        </div>
        <div class="col text-blue profile-center">
          <%= link_to circle_circle_users_path(@circle) do %>
            <p class="m-0 text-blue"><%= circle.user_count %></p>
          <% end %>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-md-3 col-sm-5  text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">サークルに関する投稿</p>
        </div>
        <div class="col profile-center">
          <p class="m-0 text-blue"><%= circle.post_count %></p>
        </div>
      </div>
      <div class="row my-3 user-introduction bg-light">
        <div class="col-md-3 col-sm-5  text-center my-auto">
          <p class="m-0 text-blue font-weight-bold">管理者</p>
        </div>
        <div class="col profile-center">
          <%= link_to owner_route do %>
            <p class="m-0 text-blue"><%= circle.owner.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none" id="edit-form">
  <%= render "public/circles/form", circle:       circle,
                                    route:        circle_path(circle),
                                    prefectures:  prefectures,
                                    submit_text:  "変更を保存",
                                    async:        false,
                                    input_id:     "image_input",
                                    prev_id:      "img_prev" %>
  <div class="row">
    <div class="col-auto mx-auto text-center">
      <button type="button" class="btn-custom-red cancel-edit">編集画面を閉じる</button>
    </div>
  </div>
</div>