<div class="container">
  <div class="row my-5">
    <% if user_signed_in? %>
      <% if current_user.id == @circle.owner_id %>
        <div class="col-auto text-center">
          <h3 class="page-title my-auto">管理サークル</h3>
        </div>
        <div class="col-auto offset-5 text-right my-auto">
          <button class="btn-custom-blue edit-btn">編集</button>
        </div>
        <div class="col-auto ml-auto text-right my-auto">
          <%= link_to "削除", circle_path(@circle), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
        </div>
      <% else %>
        <div class="col-3">
          <h3 class="page-title my-auto">サークル詳細</h3>
        </div>
        <div class="col-2 offset-7 ml-auto text-right my-auto">
          <% if @circle.circle_users.exists?(user_id: current_user.id) %>
            <%= link_to "退出", circle_circle_user_path(circle_id: @circle, id: current_user), method: :delete, class: "btn-custom-red", data: { confirm: "サークルを退出しますか?" } %>
          <% elsif @circle.permits.exists?(user_id: current_user.id) %>
            <%= link_to "申請取消", circle_permit_path(@circle), method: :delete, class: "btn-custom-red" %>
          <% else %>
            <%= link_to "参加申請", circle_permits_path(@circle), method: :post, class: "btn-custom-blue" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="col-3">
        <h3 class="page-title my-auto">サークル詳細</h3>
      </div>
    <% end %>
  </div>

  <div id="js-circle-edit">
    <%= render "circle_edit", circle: @circle, prefectures: @prefectures, owner_route: user_path(@circle.owner) %>
  </div>

  <% if user_signed_in? %>
    <% if @circle.owner_id == current_user.id %>
      <div class="row mt-5">
        <div class="col">
          <p class="join-circle text-center">参加申請者一覧</p>
        </div>
      </div>
      <% if @permits.present? %>
        <% @permits.each do |permit| %>
          <div class="row">
            <div class="col">
              <%= link_to user_path(permit.user) do %>
                <%= render "public/users/user_display", obj: permit.user %>
              <% end %>
            </div>
            <div class="col-auto my-auto">
              <div class="d-flex flex-column align-items-start">
                <%= link_to "参加許可", circle_circle_users_path(@circle, permit_id: permit.id), method: :post, class: "btn-custom-blue mb-2" %>
                <%= link_to "参加拒否", circle_permit_path(@circle), method: :delete, class: "btn btn-custom-red" %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row mt-3">
          <div class="col">
            <P class="m-0 text-center text-blue">承認待ちユーザーはいません。</P>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="row my-5 bg-gray">
    <div class="col">
      <div class="row my-3">
        <div class="col text-center">
          <p class="font-weight-bold">このサークルに関する投稿一覧</P>
        </div>
      </div>

      <% @circle_posts.each do |post| %>
        <div class="row py-3 my-3 post-background">
          <%= render "public/posts/index", obj: post, user_route: user_path(post.user), post_route: post_path(post), content: post.body, circle: post.circle, circle_route: circle_path(post.circle) %>
          <div class="col-1 my-auto text-center">
            <i class="fa-regular fa-comment small-icon"></i>
            <%= post.post_comments.count %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>