<div class="col">
  <%= link_to (current_user == obj.user ? mypage_path : user_path(obj.user)) do %>
    <div class="row mb-3">
      <div class="col-1">
        <div class="square my-auto">
          <%= display_user_image(obj.user) %>
        </div>
      </div>
      <div class="col text-truncate my-auto text-blue font-weight-bold">
        <%= obj.user.name %>
      </div>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col">
      <div class="row">
        <%= link_to url, class: "text-dark" do %>
          <div class="col">
            <%= simple_format(content) %>
          </div>
        <% end %>
      </div>
      <% if circle.present? %>
        <div class="row text-muted">
          <div class="col">
            <%= link_to circle_path(circle), class: "small-btn-custom-blue" do %>
              @<%= circle.circle_name %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row my-3 text-muted">
        <div class="col">
          (<%= format_datetime(obj.created_at) %>)
        </div>
      </div>
    </div>
    <% if obj.post_image.attached? %>
      <div class="col-3 my-auto">
        <div class="square">
          <%= display_post_image(obj) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
