<% border_class = obj.user.is_active ? "blue-border" : "gray-border" %>
<% text_class = obj.user.is_active ? "text-blue" : "text-gray" %>

<div class="row my-3">
  <div class="col">
    <div class="<%= border_class %>">

      <%= link_to user_route do %>
        <div class="row mb-3">
          <div class="col-1">
            <div class="square my-auto">
              <%= display_user_image(obj.user) %>
            </div>
          </div>
          <div class="col text-truncate my-auto font-weight-bold <%= text_class %>">
            <%= obj.user.name %>
          </div>
        </div>
      <% end %>

      <div class="row mb-3">
        <div class="col">
          <div class="row my-5">
            <%= link_to post_route do %>
              <div class="col text-dark">
                <%= simple_format(obj.body) %>
              </div>
            <% end %>
          </div>
          <% if obj.circle.present? %>
            <div class="row my-5">
              <%= link_to circle_path(obj.circle), class: "small-btn-custom-blue" do %>
                @<%= obj.circle.circle_name %>
              <% end %>
            </div>
          <% end %>
          <div class="row text-muted">
            (<%= format_datetime(obj.created_at) %>)
          </div>
        </div>
        <% if obj.post_image.attached? %>
          <div class="col-3 my-auto">
            <div class="square">
              <%= display_post_image(obj) %>
            </div>
          </div>
        <% end %>

        <div class="col-1 my-auto text-center">
          <i class="fa-regular fa-comment small-icon"></i>
          <%= obj.post_comments.count %>
        </div>
      </div>
    </div>
  </div>
</div>