<div class="container">
  <div class="row my-5">
    <div class="col-2 text-center">
      <h3 class="page-title my-auto">投稿</h3>
    </div>
    <% if @post.user == current_user %>
      <div class="col-2 offset-6 ml-auto text-right my-auto">
        <%= link_to "編集", edit_post_path(@post), class: "btn-custom-blue" %>
      </div>
      <div class="col-2 text-right my-auto">
        <%= link_to "削除", post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
      </div>
    <% end %>
  </div>

  <div class="row my-3">
    <div class="col">
      <div class="blue-border">

        <div class="row mb-3">
          <div class="col-2">
            <div class="square my-auto">
              <%= display_user_image(@post.user) %>
            </div>
          </div>
          <div class="col text-truncate my-auto text-blue">
            <%= @post.user.name %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-7">
            <div class="row my-5">
              <%= @post.body %>
            </div>
            <div class="row text-muted">
              (<%= format_datetime(@post.created_at) %>)
            </div>
          </div>

          <div class="col-2 my-auto">
            <i class="fa-regular fa-comment small-icon"></i>
          </div>

          <div class="col-3 my-auto">
            <div class="square">
              <%= display_post_image(@post) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
