<div class="container">
  <div class="row my-5">
    <div class="col-2 text-center">
      <h3 class="page-title my-auto">投稿</h3>
    </div>
    <% if @post.user == current_user || admin_signed_in? %>
      <div class="col-2 offset-6 ml-auto text-right my-auto">
        <button class="btn-custom-blue edit-btn">投稿編集</button>
      </div>
      <div class="col-2 text-right my-auto">
        <%= link_to "削除", post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
      </div>
    <% end %>
  </div>
  
  <div class="row ml-3">
    <%= render "layouts/errors", obj: @post %>
  </div>

  <div id="content">
    <%= render "post_display", obj: @post, user_route: (current_user == @post.user ? mypage_path : user_path(@post.user)), post_route: post_path(@post) %>
  </div>

  <div class="d-none" id="edit-form">
    <%= render "form", post: @post, submit_text: "保存", route: post_path, circles: @circles %>
    <div class="row ml-1">
      <div class="col text-center">
        <button type="button" class="btn-custom-red cancel-edit">編集画面を閉じる</button>
      </div>
    </div>
  </div>

  <div class="row my-5 bg-gray">
    <div class="col">
      <div class="row my-3">
        <div class="col text-center">
          <p><strong>コメント</strong></P>
        </div>
      </div>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <% if user_signed_in? %>
          <div class="row my-5">
            <div class="col-10 my-auto text-right">
              <%= f.text_area :comment, placeholder: "コメントを残す", class: "custom-form", rows: 1 %>
            </div>
            <div class="col-2 my-auto text-left">
              <%= f.submit "送信", class: "btn-custom-blue" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% @post_comments.each do |post_comment| %>
        <div class="row py-3 my-3 post-background" id="comment-content-<%= post_comment.id %>">
          <%= render "public/posts/index", obj: post_comment, url: post_path(post_comment.post), content: post_comment.comment, circle: post_comment.post.circle %>
          <% if post_comment.user == current_user || admin_signed_in? %>
            <div class="col-2 my-auto text-center">
              <button class="btn-custom-blue edit-comment-btn" data-comment-id="<%= post_comment.id %>">編集</button>
            </div>
            <div class="col-2 my-auto text-center">
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn-custom-red" %>
            </div>
          <% end %>
        </div>

        <%= form_with(model: post_comment, url: post_post_comment_path(post_comment.post, post_comment), method: :patch, local: true) do |f| %>
          <div class="row py-3 my-3 post-background d-none" id="edit-form-<%= post_comment.id %>">
            <div class="col-8 my-auto text-right">
              <%= f.text_area :comment, value: post_comment.comment, placeholder: "コメントを残す", class: "custom-form", rows: 1 %>
            </div>
            <div class="col-2 my-auto text-center">
              <%= f.submit "保存", class: "btn-custom-blue" %>
            </div>
            <div class="col-2 my-auto text-center">
              <button type="button" class="btn-custom-red cancel-edit-comment" data-comment-id="<%= post_comment.id %>">戻る</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
