<div class="container">
  <div class="row my-5">
    <div class="col-2 text-center">
      <h3 class="page-title my-auto">投稿</h3>
    </div>
    <% if @post.user == current_user %>
      <div class="col-2 offset-6 ml-auto text-right my-auto">
        <button class="btn-custom-blue edit-btn">投稿編集</button>
      </div>
      <div class="col-2 text-right my-auto">
        <%= link_to "削除", post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
      </div>
    <% end %>
  </div>

  <div id="js-post-edit">
    <%= render "post_edit", post: @post, circles: @circles %>
  </div>

  <div class="row my-5 bg-gray">
    <div class="col">
      <div class="row my-3">
        <div class="col text-center">
          <p class="font-weight-bold">コメント</P>
        </div>
      </div>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <% if user_signed_in? %>
          <div class="row my-5">
            <div class="col-10 my-auto text-right">
              <%= f.text_area :comment, placeholder: "コメントを残す", class: "custom-form", rows: 1 %>
            </div>
            <div class="col-2 my-auto text-left">
              <%= f.submit "送信", class: "btn-custom-blue" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div id="js-post-comment-edit">
        <%= render "post_comment_edit",  post_comments: @post_comments %>
      </div>

    </div>
  </div>
</div>
