<div class="col-md-1 col-4 my-auto">
  <i class="fa-solid fa-crown <%= "crown-#{index + 1}" %>"></i>
</div>

<div class="col-md-2 col-4 my-auto">
  <div class="circle">
    <%= display_circle_image(circle) %>
  </div>
</div>

<div class="col-md-9 col-12 my-auto">
  <div class="row my-3 bg-light text-center my-auto">
    <div class="col-md-3 col-4 text-center">
      <p class="m-0 text-blue font-weight-bold item">サークル<wbr>名</p>
    </div>
    <div class="col my-auto">
      <p class="m-0 text-blue">:<%= circle.circle_name %></p>
    </div>
  </div>
  <div class="row my-3 bg-light text-center">
    <div class="col-md-3 col-4 text-center my-auto">
      <p class="m-0 text-blue font-weight-bold item">サークル<wbr>の紹介</p>
    </div>
    <div class="col my-auto">
      <p class="m-0 text-blue">:<%= circle.circle_introduction %></p>
    </div>
  </div>
  <div class="row my-3 bg-light">
    <div class="col-md-3 col-4 text-center my-auto">
      <p class="m-0 text-blue font-weight-bold item">サークル<wbr>参加者数</p>
    </div>
    <div class="col my-auto">
      <p class="m-0 text-blue">:<%= circle.user_count %>人</p>
    </div>
  </div>
  <div class="row my-3 bg-light">
    <div class="col-md-3 col-4 text-center my-auto">
      <p class="m-0 text-blue font-weight-bold item">サークル<wbr>の投稿</p>
    </div>
    <div class="col my-auto">
      <p class="m-0 text-blue">:<%= circle.post_count %>件</p>
    </div>
  </div>
  <div class="row my-3 bg-light">
    <div class="col-md-3 col-4 text-center my-auto">
      <p class="m-0 text-blue font-weight-bold item">管理者</p>
    </div>
    <div class="col my-auto">
      <p class="m-0 text-blue">:<%= circle.owner.name %></p>
    </div>
  </div>
</div>