<div class="container-fluid">
  <div class="row hidden my-5 position-relative d-flex align-items-center justify-content-center">
    <%= image_tag "background.png", class: "dot-image" %>
    <div class="dot-image-text">
      <div class="text-center bg-white py-4">
        <p class="h4 font-weight-bold">同じ趣味の人を見つけて<br>サークルに参加しましょう</p>
        <%= link_to "→始める", top_path, class: "btn mt-2" %>
      </div>
    </div>
  </div>

  <div class="row about-content">
    <div class="col">
      <div class="row hidden how-to-use-title">
        <div class="col">
          <p class="h4 text-center">このサイトの使い方</P>
        </div>
      </div>
      <div class="row hidden hidden-left how-to-use-row mx-4">
        <div class="col-10 p-0 text-center">
          <div class="how-to-use">
            <p class="how-to-use-title">サークルを探す</P>
            <p class="how-to-use-body">サークルを検索したり、<wbr>人気なサークルを確認しましょう</P>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-magnifying-glass large-icon"></i>
        </div>
      </div>
      <div class="row hidden hidden hidden-right how-to-use-row mx-4">
        <div class="col-2 d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-door-open large-icon"></i>
        </div>
        <div class="col-10 p-0 text-center">
          <div class="how-to-use">
            <p class="how-to-use-title">サークルに入る</P>
            <p class="how-to-use-body">気に入ったサークルがあれば<wbr>クルーになりましょう</P>
          </div>
        </div>
      </div>
      <div class="row hidden hidden-left mx-4">
        <div class="col-10 p-0 text-center">
          <div class="how-to-use">
            <p class="how-to-use-title">投稿する</P>
            <p class="how-to-use-body">スポーツの記録や方法を<wbr>共有しましょう</P>
            <p class="how-to-use-body">サークルに所属していなくても<wbr>投稿することができます</P>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <i class="fa-regular fa-comments large-icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row hidden about-content">
    <div class="col">
      <div class="row how-to-use-title">
        <div class="col">
          <p class="h4 text-center">おすすめサークル</P>
        </div>
      </div>

      <div class="row mb-5 bg-gray">
        <div class="col mb-3">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="row my-3">
                  <div class="col-auto text-center paragraph-background">
                    <p class="mx-3 my-0 text-blue font-weight-bold h4">参加者の多いサークル</P>
                  </div>
                </div>
                <% @top_user_circles.each_with_index do |top_circle, index| %>
                  <%= link_to circle_path(top_circle) do %>
                    <div class="row hidden py-3 my-3 post-background">
                      <%= render "circles_index", circle: top_circle, index: index %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="swiper-slide">
                <div class="row my-3">
                  <div class="col-auto text-center paragraph-background">
                    <p class="mx-3 my-0 text-blue font-weight-bold h4">サークルに関する投稿が多いサークル</P>
                  </div>
                </div>
                <% @top_post_circles.each_with_index do |top_circle, index| %>
                  <%= link_to circle_path(top_circle) do %>
                    <div class="row hidden py-3 my-3 post-background">
                      <%= render "circles_index", circle: top_circle, index: index %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>