<div class="container">
  <div class="row my-5">
    <div class="col-md-auto col-sm-12 text-center">
      <h3 class="page-title my-auto">会員登録</h3>
    </div>
  </div>
  
  <div class="row ml-3">
    <%= render "layouts/errors", obj: resource %>
  </div>

  <%= form_with model: resource, scope: resource_name, url: registration_path(resource_name) do |f| %>
    <div class="row mt-3">
      <div class="col-md-2 col-4  field-title text-center ml-2">
        <%= f.label :name, "名前", class: "my-auto" %>
      </div>
      <div class="col text-center">
        <%= f.text_field :name, autofocus: true, :placeholder =>"サンプル太郎", class: "custom-form" %>
      </div>
    </div>    
    <div class="row mb-3">
      <div class="col text-left text-blue">
        <p class="m-0">※後から変更可能</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2 col-4 field-title text-center ml-2">
        <%= f.label :email, "メール", class: "my-auto" %>
      </div>
      <div class="col text-center">
        <%= f.email_field :email, autocomplete: "email", :placeholder =>'example@gmail.com', class: "custom-form" %>
      </div>
    </div>    
    <div class="row mb-3">
      <div class="col text-left text-blue">
        <p class="m-0">※後から変更可能</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2 col-4 field-title text-center ml-2">
        <%= f.label :password, "パスワード", class: "my-auto" %>
      </div>
      <div class="col text-center">
        <%= f.password_field :password, autocomplete: "new-password", class: "custom-form" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col text-left text-blue">
        <% if @minimum_password_length %>
          <em>※パスワードは<%= @minimum_password_length %>文字以上</em>
        <% end %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2 col-4  field-title text-center ml-2">
        <%= f.label :password_confirmation, "再入力", class: "my-auto" %>
      </div>
      <div class="col text-center">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "custom-form" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col text-left text-blue">
        <p class="m-0">※パスワードを再入力</p>
      </div>
    </div>

    <div class="row mx-auto mt-5">
      <div class="col text-center">
        <%= f.submit "登録", class: "btn-custom-blue" %>
      </div>
    </div>
  <% end %>

  <div class="row my-3">
    <p class="col text-blue text-center">
      ログインは<%= link_to "こちら", new_user_session_path %>から
    </p>
  </div>

</div>


