<%= form_with url: searches_path, method: :get, class: "w-100" do |f| %>
  <div class="row mx-1">
    <div class="col p-0 my-auto mx-1">
      <%= f.text_field :word, placeholder: "キーワードを入力 (未入力で全件出力)", class: "custom-form" %>
    </div>
    <div class="col-auto p-0 my-auto">
      <%= button_tag type: "submit", class: "btn-custom-blue" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
  </div>

  <div class="row splash">
    <div class="col text-center">
      <% @lines.each_with_index do |line, index| %>
          <% if index == 0 %>
            <span class="text-blue splash-text"><%= line %><br></span>
          <% elsif index == 1 %>
            <span class="text-blue splash-text"><%= line %><br></span>
          <% else %>
            <span class="text-blue splash-person"><%= line %></span>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="fit-blue-border my-5">
    <div class="row search-box">
      <div class="col-md-2 col-sm-12 my-auto text-center">
        <div class="search-title">検索種類</div>
      </div>
      <div class="col my-auto text-center text-blue">
        <%= f.radio_button :range, "circle", id: "range_circle", checked: true, name: "[range]" %>
        <%= f.label :range_circle, "サークル" %>
      </div>
      <div class="col my-auto text-center text-blue">
        <%= f.radio_button :range, "post", id: "range_post", name: "[range]" %>
        <%= f.label :range_post, "投稿" %>
      </div>
      <div class="col my-auto text-center text-blue">
        <%= f.radio_button :range, "user", id: "range_user", name: "[range]" %>
        <%= f.label :range_user, "ユーザー" %>
      </div>
    </div>
  </div>
  
  <div class="fit-blue-border my-5" id="location-form">
    <div class="row search-box">
      <div class="col-md-2 col-sm-12 my-auto text-center">
        <div class="search-title">活動場所</div>
      </div>
      <div class="col my-auto text-blue">
        <%= f.collection_select :prefecture_id, prefectures, :id, :prefecture_name, { prompt: "県を選択" }, { id: "circle_prefecture_id", class: "custom-form" } %>
      </div>
      <div class="col my-auto text-blue">
        <%= f.collection_select :city_id, [], :id, :city_name, { prompt: "市を選択" }, { id: "circle_city_id", class: "custom-form" } %>
      </div>
    </div>
  </div>

  <div class="fit-blue-border my-5">
    <div class="row search-box">
      <div class="col-md-2 col-sm-12 my-auto text-center">
        <div class="search-title">検索範囲</div>
      </div>
      <div class="col my-auto text-center text-blue">
        <%= f.radio_button :search, "partial_match", id: "search_partial_match", checked: true %>
        <%= f.label :search_partial_match, "部分一致 (おすすめ)" %>
      </div>
      <div class="col my-auto text-center text-blue">
        <%= f.radio_button :search, "perfect_match", id: "search_perfect_match" %>
        <%= f.label :search_perfect_match, "完全一致" %>
      </div>
      <div class="col my-auto text-center text-blue">
        <%= f.radio_button :search, "forward_match", id: "search_forward_match" %>
        <%= f.label :search_forward_match, "前方一致" %>
      </div>
    </div>
  </div>
<% end %>