<div class="container">
  <div class="row my-5">
    <div class="col-md-auto col-sm-12 text-center">
      <h3 class="page-title my-auto">
        <% if @range == "user" %>
          ユーザー
        <% elsif @range == "post" %>
          投稿
        <% elsif @range == "circle" %>
          サークル
        <% end %>
        検索結果
      </h3>
    </div>
  </div>
  <% if admin_signed_in? %>
    <% if @range == "user" %>
      <% @users.each do |user| %>
        <%= link_to admin_user_path(user) do %>
          <%= render "public/users/user_display", obj: user %>
        <% end %>
      <% end %>

    <% elsif @range == "post" %>
      <% @posts.each do |post| %>
        <%= render "public/posts/post_display", obj: post, user_route: admin_user_path(post.user), post_route: admin_post_path(post) %>
      <% end %>

    <% elsif @range == "circle" %>
      <% @circles.each do |circle| %>
        <%= render "public/circles/circle_display", obj: circle, circle_route: admin_circle_path(circle) %>
      <% end %>
    <% end %>
    
  <% else %>
    <% if @range == "user" %>
      <% @users.each do |user| %>
        <%= link_to (current_user == user ? mypage_path : user_path(user)) do %>
          <%= render "public/users/user_display", obj: user %>
        <% end %>
      <% end %>

    <% elsif @range == "post" %>
      <% @posts.each do |post| %>
        <%= render "public/posts/post_display", obj: post, user_route: (current_user == post.user ? mypage_path : user_path(post.user)), post_route: post_path(post) %>
      <% end %>

    <% elsif @range == "circle" %>
      <% @circles.each do |circle| %>
        <%= render "public/circles/circle_display", obj: circle, circle_route: circle_path(circle) %>
      <% end %>
    <% end %>
  <% end %>

</div>