<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <%= user_status_title(@user) %>
    </div>
    <div class="col-auto my-auto">
      <button class="btn-custom-blue edit-btn">ユーザー編集</button>
    </div>
  </div>
  
  <div class="row ml-3 my-3">
    <%= render "layouts/errors", obj: @user %>
  </div>

  <div id="js-user-edit">
    <%= render "public/users/user_edit", user: @user, circles: @circles, following_count: @following_count, follower_count: @follower_count %>
  </div>

  <div class="row my-5 bg-gray">
    <div class="col">
      <div class="row my-3">
        <div class="col text-center">
          <p class="font-weight-bold">投稿一覧</P>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="row py-3 my-3 post-background">
          <%= render "public/posts/index", obj: post, user_route: admin_user_path(post.user), post_route: admin_post_path(post), content: post.body, circle: post.circle, circle_route: post.circle.present? ? admin_circle_path(post.circle) : nil %>
          <div class="col-1 my-auto text-center">
            <i class="fa-regular fa-comment small-icon"></i>
            <%= post.post_comments.count %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>