<%= form_with model: resource, scope: resource_name, url: session_path(resource_name) do |f| %>

  <div class="row my-3">
    <div class="col-md-2 col-4 field-title text-center ml-2">
      <%= f.label :email, "メール", class: "my-auto" %>
    </div>
    <div class="col d-flex justify-content-center">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "custom-form" %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-2 col-4 field-title text-center ml-2">
      <%= f.label :password, "パスワード", class: "my-auto" %>
    </div>
    <div class="col d-flex justify-content-center">
      <%= f.password_field :password, autocomplete: "current-password", class: "custom-form" %>
    </div>
  </div>

    <div class="row mx-auto my-4">
      <div class="col text-center">
        <%= f.submit "ログイン", class: "btn-custom-blue" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="row mt-5">
      <div class="col text-blue text-center">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>
<% end %>