<div class="row ml-3 my-3">
  <%= render "layouts/errors", obj: user %>
</div>

<div class="row my-3" id="content">
  <div class="col-3 my-auto">
    <div class="square">
      <%= display_user_image(user) %>
    </div>
  </div>
  <div class="col-9">
    <div class="blue-border">
      <div class="row">
        <p class="m-0 user-name"><%= user.name %></p>
      </div>
      <div class="row my-3 text-blue bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 font-weight-bold">紹介文</p>
        </div>
        <div class="col-9 user-introduciton">
          <%= simple_format(user.introduction) %>
        </div>
      </div>
      <div class="row my-3 text-blue bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 font-weight-bold">所属サークル</p>
        </div>
        <div class="col-9">
          <% circles.each do |circle| %>
            <div class="row">
              <div class="col blue-text">
                <%= link_to circle_path(circle), class: "text-blue" do %>
                  <%= circle.circle_name %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row my-3 text-blue bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 font-weight-bold">フォロー</p>
        </div>
        <div class="col-9">
          <%= link_to user_followings_path(user), class: "text-blue" do %>
            <span><%= following_count %></span>
          <% end %>
        </div>
      </div>
      <div class="row my-3 text-blue bg-light">
        <div class="col-3 text-center my-auto">
          <p class="m-0 font-weight-bold">フォロワー</p>
        </div>
        <div class="col-9">
          <%= link_to user_followers_path(user), class: "text-blue" do %>
            <span><%= follower_count %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_with model: user, url: update_information_path(user), method: :patch, local: false do |f| %>
  <div class="row my-3 d-none" id="edit-form">
    <div class="col-3 my-auto">
      <div class="square">
        <%= f.label :user_image, class: "image-label", for: "image_input" do %>
          <%= image_tag (user.user_image.attached? ? user.user_image : "no_image.png"), id: "img_prev", class: "image-fluid" %>
        <% end %>
        <%= f.file_field :user_image, accept: "image/*", id: "image_input", class: "image_select" %>
      </div>
    </div>
    <div class="col-9 my-auto">
      <div class="gray-border">
        <div class="row my-3">
          <div class="col">
            <div class="row text-center">
              <div class="col-3 my-auto"><%= f.label :email, "メールアドレス", class: "text-gray" %></div>
              <div class="col-9 my-auto"><%= f.text_field :email, placeholder: "example@gmail.com", class: "custom-form-gray" %></div>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <div class="row text-center">
              <div class="col-3 my-auto"><%= f.label :name, "ユーザー名", class: "text-gray" %></div>
              <div class="col-9 my-auto"><%= f.text_field :name, placeholder: "サンプル太郎", class: "custom-form-gray" %></div>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <div class="row text-center">
              <div class="col-3 my-auto"><%= f.label :introduction, "紹介文", class: "text-gray" %></div>
              <div class="col-9 my-auto"><%= f.text_area :introduction, placeholder: "紹介文を記入してください", class: "custom-form-gray", rows: 5 %></div>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6 text-center">
            <%= f.submit "保存", class: "btn-custom-blue" %>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn-custom-red cancel-edit">戻る</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>