<% border_class = obj.is_active ? "fit-blue-border" : "gray-border" %>
<% text_class = obj.is_active ? "text-blue" : "text-gray" %>

  <div class="row my-3">
    <div class="col">
      <div class="<%= border_class %>">
        <div class="row my-2">
          <div class="col-md-1 col-3 my-auto">
            <div class="square my-auto">
              <%= display_user_image(obj) %>
            </div>
          </div>
          <div class="col-md-11 col-12 my-auto">
            <div class="row my-3 bg-light">
              <div class="col-md-3 col-4 text-center">
                <p class="m-0 <%= text_class %> font-weight-bold">名前</p>
              </div>
              <div class="col">
                <p class="m-0 <%= text_class %>">:<%= obj.name %></p>
              </div>
            </div>
            <div class="row my-3 bg-light">
              <div class="col-md-3 col-4 my-auto text-center">
                <p class="m-0 <%= text_class %> font-weight-bold">紹介文</p>
              </div>
              <div class="col">
                <p class="m-0 <%= text_class %>">:<%= obj.introduction %></p>
              </div>
            </div>
            <div class="row my-3 bg-light">
              <div class="col-md-3 col-4 text-center my-auto p-0">
                <p class="m-0 <%= text_class %> font-weight-bold">所属サークル</p>
              </div>
              <div class="col">
                <% obj.circles.each do |circle| %>
                  <div class="row">
                    <div class="col <%= text_class %>">
                      @<%= circle.circle_name %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row my-3 bg-light">
              <div class="col-md-3 col-4 text-center">
                <p class="m-0 <%= text_class %> font-weight-bold">フォロー</p>
              </div>
              <div class="col">
                <p class="m-0 <%= text_class %>">:<%= obj.followings_count %></p>
              </div>
            </div>
            <div class="row my-3 bg-light">
              <div class="col-md-3 col-4 text-center p-0">
                <p class="m-0 <%= text_class %> font-weight-bold">フォロワー</p>
              </div>
              <div class="col">
                <p class="m-0 <%= text_class %>">:<%= obj.followers_count %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>