<% border_class = obj.is_active ? "blue-border" : "gray-border" %>
<% text_class = obj.is_active ? "text-blue" : "text-gray" %>

<div class="row my-3">
  <div class="col">
    <div class="<%= border_class %>">
      <div class="row mb-3">
        <div class="col-2 my-auto">
          <div class="square my-auto">
            <%= display_user_image(obj) %>
          </div>
        </div>
        <div class="col-10 my-auto">
          <div class="row my-3 <%= text_class %>">
            <strong><%= obj.name %></strong>
          </div>
          <div class="row my-3 <%= text_class %>">
            <%= obj.introduction %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>