<div class="container">
  <div class="row my-5">
    <% if @user == current_user %>
      <div class="col-3 text-center">
        <h3 class="page-title my-auto">マイページ</h3>
      </div>
      <div class="col-auto my-auto">
        <button class="btn-custom-blue edit-btn">プロフィール編集</button>
      </div>
      <div class="col-auto my-auto">
        <%= link_to "退会", unsubscribe_path, class: "btn-custom-red" %>
      </div>

    <% else %>
      <div class="col-3 text-center">
        <h3 class="page-title my-auto">プロフィール</h3>
      </div>
      <% if user_signed_in? %>
        <% unless @user.id == current_user.id %>
          <% if @is_room == true %>
            <div class="col-auto my-auto">
              <%= link_to "DM", room_path(@room_id), class: "btn-custom-blue" %>
            </div>
          <% else %>
            <div class="col-auto my-auto">
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "DMを始める", class: "btn-custom-blue" %>
              <% end %>
            </div>
          <% end %>
          <% if current_user.following?(@user) %>
            <div class="col-auto my-auto">
              <%= link_to "フォロー解除", user_relationships_path(@user), method: :delete, class: "btn-custom-red" %>
            </div>
            <% else %>
              <div class="col-auto my-auto">
              <%= link_to "フォロー", user_relationships_path(@user), method: :post, class: "btn-custom-blue" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="row ml-3 my-3">
    <%= render "layouts/errors", obj: @user %>
  </div>

  <div class="row" id="content">
    <div class="col-3 my-auto">
      <div class="square">
        <%= display_user_image(@user) %>
      </div>
    </div>
    <div class="col-9">
      <div class="blue-border">
        <div class="row">
          <p class="m-0 user-name"><%= @user.name %></p>
        </div>
        <div class="row my-3 text-blue bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 font-weight-bold">紹介文</p>
          </div>
          <div class="col-9 user-introduciton">
            <%= simple_format(@user.introduction) %>
          </div>
        </div>
        <div class="row my-3 text-blue bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 font-weight-bold">所属サークル</p>
          </div>
          <div class="col-9">
            <% @circles.each do |circle| %>
              <div class="row">
                <div class="col blue-text">
                  <%= link_to circle_path(circle), class: "text-blue" do %>
                    <%= circle.circle_name %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row my-3 text-blue bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 font-weight-bold">フォロー</p>
          </div>
          <div class="col-9">
            <%= link_to user_followings_path(@user), class: "text-blue" do %>
              <span><%= @following_count %></span>
            <% end %>
          </div>
        </div>
        <div class="row my-3 text-blue bg-light">
          <div class="col-3 text-center my-auto">
            <p class="m-0 font-weight-bold">フォロワー</p>
          </div>
          <div class="col-9">
            <%= link_to user_followers_path(@user), class: "text-blue" do %>
              <span><%= @follower_count %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form_with model: @user, url: update_information_path(@user), method: :patch do |f| %>
    <div class="row d-none" id="edit-form">
      <div class="col-3 my-auto">
        <div class="square">
          <%= f.label :user_image, class: "image-label", for: "image_input" do %>
            <%= image_tag (@user.user_image.attached? ? @user.user_image : "no_image.png"), id: "img_prev", class: "image-fluid" %>
          <% end %>
          <%= f.file_field :user_image, accept: "image/*", id: "image_input", class: "image_select" %>
        </div>
      </div>
      <div class="col-9 my-auto">
        <div class="gray-border">
          <div class="row my-3">
            <div class="col">
              <div class="row text-center">
                <div class="col-3 my-auto"><%= f.label :email, "メールアドレス", class: "text-gray" %></div>
                <div class="col-9 my-auto"><%= f.text_field :email, placeholder: "example@gmail.com", class: "custom-form-gray" %></div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col">
              <div class="row text-center">
                <div class="col-3 my-auto"><%= f.label :name, "ユーザー名", class: "text-gray" %></div>
                <div class="col-9 my-auto"><%= f.text_field :name, placeholder: "サンプル太郎", class: "custom-form-gray" %></div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col">
              <div class="row text-center">
                <div class="col-3 my-auto"><%= f.label :introduction, "紹介文", class: "text-gray" %></div>
                <div class="col-9 my-auto"><%= f.text_area :introduction, placeholder: "紹介文を記入してください", class: "custom-form-gray", rows: 5 %></div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-6 text-center">
              <%= f.submit "保存", class: "btn-custom-blue" %>
            </div>
            <div class="col-6 text-center">
              <button type="button" class="btn-custom-red cancel-edit">戻る</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row my-5 bg-gray">
    <div class="col">
      <div class="row my-3">
        <div class="col text-center">
          <p><strong>投稿一覧</strong></P>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="row py-3 my-3 post-background">
          <%= render "public/posts/index", obj: post, user_route: user_path(post.user), post_route: post_path(post), content: post.body, circle: post.circle, circle_route: post.circle.present? ? circle_path(post.circle) : nil %>
          <div class="col-1 my-auto text-center">
            <i class="fa-regular fa-comment small-icon"></i>
            <%= post.post_comments.count %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>