<div class="container">
  <div class="row my-5">
    <% if @user == current_user %>
      <div class="col text-center">
        <h3 class="page-title my-auto">マイページ<h2>
      </div>
      <div class="col text-center my-auto">
        <%= link_to "プロフィール編集", edit_information_path, class: "btn-custom-blue" %>
      </div>
      <div class="col ml-auto text-center my-auto">
        <%= link_to "退会", unsubscribe_path, class: "btn-custom-red" %>
      </div>
    <% else %>
      <div class="col-auto">
        <h3 class="page-title my-auto"><%= @user.name %>さんのプロフィール<h2>
      </div>
      <div class="col  ml-auto text-center my-auto">
        <%= link_to "DM", root_path, class: "btn-custom-blue" %>
      </div>
    <% end %>
  </div>
  
  <div class="row d-flex align-items-stretch">
    <div class="col-3 my-auto">
      <div class="square">
        <%= display_user_image(@user) %>
      </div>
    </div>
    <div class="col-9">
      <div class="user-profile">
        <div class="row">
          <p class="user-name"><%= @user.name %></p>
        </div>
        <div class="row user-introduction">
          <div class="col-3 text-center">
            <p>紹介文</p>
          </div>
          <div class="col-9">
            <p><%= @user.introduction %></p>
          </div>
        </div>
        <div class="row user-introduction">
          <div class="col-3 text-center">
            <p>所属サークル</p>
          </div><div class="col-9">
            <p>ここに所属サークル一覧(後で実装)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mx-auto">
            <div class="text-center">
              <%= link_to root_path do %>
                <p class="m-0 btn-custom-blue"><strong>フォロー</strong><br>100</p>
              <% end %>
            </div>
          </div>
          <div class="col-3 mx-auto">
            <div class="text-center">
              <%= link_to root_path do %>
                <p class="m-0 btn-custom-blue"><strong>フォロワー</strong><br>100</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="bg-gray">
      <p class="text-center"><strong>投稿一覧</strong></p>
      <% @posts.each do |post| %>
        <div class="row py-3 my-3 post-background">
          <div class="col-1">
            <div class="square">
              <%= display_user_image(post.user) %>
            </div>
          </div>
          <div class="col-8">
            <div class="row">
              <%= format_datetime(post.created_at) %>
            </div>
            <div class="row">
              <%= post.body %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>