<div class='container'>
  <div class='row'>
    <% if @user = current_user %>
      <div class='col-auto'>
        <h2>マイページ<h2>
      </div>
      <div class='col-3 offset-3'>
        <%= link_to 'プロフィールを編集', edit_information_path %>
      </div>
      <div class='col-3'>
        <%= link_to '退会', unsubscribe_path %>
      </div>
    <% else %>
      <div class='col-auto'>
        <h2><%= @user.name %>さんのプロフィール<h2>
      </div>
      <div class='col-3 offset-auto'>
        <%= link_to 'DM' %>
      </div>
    <% end %>
  </div>
  
  <div class='row'>
    <div class='col-2'>
      <div class='square'>
        <%= image_tag @user.get_user_image, class: 'img-fluid' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <p>ユーザー名<%= @user.name %></p>
  </div>

  <div class='row'>
    <p>紹介文<%= @user.introduction %></p>
  </div>

  <div class='row'>
    <p>フォロー</p>
  </div>

  <div class='row'>
    <p>フォロワー</p>
  </div>

  <div class='row'>
    <p>所属サークル一覧</p>
  </div>

    <p>投稿一覧</p>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-3">
          <div class="square">
            <%= display_post_image(post) %>
          </div>
            <%= post.body %>
        </div>
      </div>
    <% end %>

</div>