<div class="container">
  <div class="row my-4">
    <% if @user == current_user %>
      <div class="col-md-auto col-sm-12 text-center mb-2">
        <h3 class="page-title my-auto">マイページ</h3>
      </div>
      <div class="col-auto my-auto">
        <button class="btn-custom-blue edit-btn">編集</button>
      </div>
      <div class="col-auto my-auto">
        <%= link_to "退会", unsubscribe_path, class: "btn-custom-red" %>
      </div>

    <% else %>
      <div class="col-md-auto col-12 text-center mb-2">
        <h3 class="page-title my-auto">プロフィール</h3>
      </div>
      <% if user_signed_in? %>
        <% unless @user.id == current_user.id %>
          <% if @is_room == true %>
            <div class="col-auto my-auto">
              <%= link_to "DM", room_path(@room_id), class: "btn-custom-blue" %>
            </div>
          <% else %>
            <div class="col-auto my-auto">
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "DMを始める", class: "btn-custom-blue" %>
              <% end %>
            </div>
          <% end %>
          <% if current_user.following?(@user) %>
            <div class="col-auto my-auto">
              <%= link_to "フォロー解除", user_relationships_path(@user), method: :delete, class: "btn-custom-red" %>
            </div>
            <% else %>
              <div class="col-auto my-auto">
              <%= link_to "フォロー", user_relationships_path(@user), method: :post, class: "btn-custom-blue" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div id="js-user-edit">
    <%= render "user_edit", user: @user, circles: @circles, following_count: @following_count, follower_count: @follower_count %>
  </div>
  
  <% if current_user == @user %>
    <div class="row text-center" id="tab-menu">
      <div class="col active d-flex justify-content-center"><a href="#tab1" class="text-blue my-auto">投稿<wbr>一覧</a></div>
      <div class="col inactive d-flex justify-content-center"><a href="#tab2" class="text-white my-auto">所属サークル<wbr>の投稿</a></div>
      <div class="col inactive d-flex justify-content-center"><a href="#tab3" class="text-white my-auto">フォロー<wbr>ユーザー投稿</a></div>
      <div class="col inactive d-flex justify-content-center"><a href="#tab4" class="text-white my-auto">DM<wbr>一覧</a></div>
    </div>
  <% end %>

  <div class="row mb-5 bg-gray">
    <div class="col">

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <div class="row my-3">
            <div class="col text-center">
              <p class="font-weight-bold">投稿一覧</P>
            </div>
          </div>
          <% @posts.each do |post| %>
            <div class="row py-3 my-3 post-background">
              <%= render "public/posts/index", obj: post, user_route: user_path(post.user), post_route: post_path(post), content: post.body, circle: post.circle, circle_route: post.circle.present? ? circle_path(post.circle) : nil %>
              <div class="col-1 mx-1 my-auto text-center text-blue">
                <i class="fa-regular fa-comment small-icon"></i>
                <%= post.post_comments.count %>
              </div>
            </div>
          <% end %>
        </div>

        <% if current_user == @user %>
          <div id="tab2" class="tab">
            <% @circle_posts.each do |post| %>
              <div class="row py-3 my-3 post-background">
                <%= render "public/posts/index", obj: post, user_route: user_path(post.user), post_route: post_path(post), content: post.body, circle: post.circle, circle_route: post.circle.present? ? circle_path(post.circle) : nil %>
                <div class="col-1 mx-1 my-auto text-center text-blue text-center">
                  <i class="fa-regular fa-comment small-icon"></i>
                  <%= post.post_comments.count %>
                </div>
              </div>
            <% end %>
          </div>

          <div id="tab3" class="tab">
            <% @following_posts.each do |post| %>
              <div class="row py-3 my-3 post-background">
                <%= render "public/posts/index", obj: post, user_route: user_path(post.user), post_route: post_path(post), content: post.body, circle: post.circle, circle_route: post.circle.present? ? circle_path(post.circle) : nil %>
                <div class="col-1 mx-1 my-auto text-center text-blue text-center">
                  <i class="fa-regular fa-comment small-icon"></i>
                  <%= post.post_comments.count %>
                </div>
              </div>
            <% end %>
          </div>
          
          <div id="tab4" class="tab">
            <% @rooms.each do |room| %>
              <% if room.users.where.not(id: current_user.id).where(is_active: true).exists? %>
                <div class="row my-3">
                  <div class="col">
                    <div class="blue-border bg-white">
                      <%= link_to user_path(room.users.where.not(id: current_user.id).first) do %>
                        <div class="row">
                          <div class="col-md-1 col-2">
                            <div class="square">
                              <%= display_user_image(room.users.where.not(id: current_user.id).where(is_active: true).first) %>
                            </div>
                          </div>
                          <div class="col my-auto font-weight-bold text-blue">
                            <%= room.users.where.not(id: current_user.id).where(is_active: true).first&.name %>
                          </div>
                        </div>
                      <% end %>
                      <%= link_to room_path(room) do %>
                        <div class="row">
                          <div class="col my-2 text-gray">
                            <p class="m-0"><%= room.messages.last&.message || "まだメッセージがありません" %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>