<header>
  <div class="container-fluid">
    <div class="row header-custom py-3">
      <%= link_to top_path, class: "mx-auto h-100" do %>
        <%= image_tag "logo_white.png", class: "h-100" %>
      <% end %>

      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>

    <div id="sp-menu">
      <ul>
        <% if admin_signed_in? %>
          <li><%= link_to "サークル一覧", class: "header-content" %></li>
          <li><%= link_to "会員一覧", class: "header-content" %></li>
          <li><%= link_to "投稿一覧", class: "header-content" %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-content" %></li>
        <% elsif user_signed_in? %>
          <p>ログイン中です。<%= current_user.name %>さん</p>
          <%= link_to root_path do %><li class="header-content">サイト概要</li><% end %>
          <li><%= link_to "マイページ", mypage_path, class: "header-content" %></li>
          <li><%= link_to "新規投稿", new_post_path, class: "header-content" %></li>
          <li><%= link_to "サークル作成", class: "header-content" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-content" %></li>
        <% else %>
          <li><%= link_to "サイト概要", root_path, class: "header-content" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "header-content" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "header-content" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div id="hidden-header" class="fixed-header">
  <div class="container-fluid">
    <div class="row m-1 text-center hidden-header-custom border-custom">
      <%= link_to top_path, class: "h-100" do %>
        <%= image_tag "logo.png", class: "h-100" %>
      <% end %>
      <% if admin_signed_in? %>
        <%= link_to "サークル一覧", class: "col my-auto" %>
        <%= link_to "会員一覧", class: "col my-auto" %>
        <%= link_to "投稿一覧", class: "col my-auto" %>
        <%= link_to "検索", top_path, class: "col my-auto" %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "col my-auto" %>
      <% elsif user_signed_in? %>
        <%= link_to "サイト概要", root_path, class: "col my-auto" %>
        <%= link_to "マイページ", mypage_path, class: "col my-auto" %>
        <%= link_to "新規投稿", new_post_path, class: "col my-auto" %>
        <%= link_to "サークル作成", root_path, class: "col my-auto" %>
        <%= link_to "検索", top_path, class: "col my-auto" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "col my-auto" %>
      <% else %>
        <%= link_to "サイト概要", root_path, class: "col my-auto" %>
        <%= link_to "検索", top_path, class: "col my-auto" %>
        <%= link_to "新規登録", new_user_registration_path, class: "col my-auto" %>
        <%= link_to "ログイン", new_user_session_path, class: "col my-auto" %>
      <% end %>
    </div>
  </div>
</div>
