<!DOCTYPE html>
<html>
  <head>
    <title>ActiveCrew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f058a256c9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- modal用bootstrapのJsを読み込む記述 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="down-move">
      <div id="flash-messages">
        <%= render "layouts/flash" %>
      </div>
      <div class="main-margin">
        <%= yield %>
      </div>
    </div>
    
    <!-- モーダル表示用 -->
    <%= render "layouts/post_modal" %>
    <%= render "layouts/circle_modal" %>

    <!-- 新規作成用ボタン表示用 -->
    <%= render "layouts/new_post_circle_btn" %>

    <!-- フッター表示用 -->
    <%= render "layouts/footer" %>
  </body>
</html>
